[Unit]
Description=First Boot Driver Compilation
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cd /home/pi/nrc7292_sw_pkg && make && cp nrc.ko /lib/modules/$(uname -r)/kernel/drivers/net/wireless/ && depmod -a && systemctl disable halo-firstboot"

[Install]
WantedBy=multi-user.target