[Unit]
Description=Halo Mesh Controller
Documentation=file:///home/pi/README.md
After=network.target hostapd.service
Wants=network.target web_admin.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/pi/start_mesh.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
SyslogIdentifier=halo-mesh

[Install]
WantedBy=multi-user.target